
<mdl-layout mdl-layout-fixed-header mdl-layout-fixed-drawer >
    <mdl-layout-header mdl-shadow="6">
        <mdl-layout-header-row class ="header-panel-color">
           <mdl-textfield   icon="search" class="color-scheme--white-c" type="text"  [(ngModel)]="findBy" style ="width: 220px; " ></mdl-textfield>

                <button mdl-button mdl-button-type="icon" style="position: absolute; right: 110px;" [routerLink]="['/settings']">
                    <mdl-icon class ="color-scheme--white-c" mdl-tooltip="Settings">settings</mdl-icon>
                </button>

                <button mdl-button mdl-button-type="icon" style="position: absolute; right: 40px;" (click)="onLogOut()">
                    <mdl-icon class ="color-scheme--white-c" mdl-tooltip="Logout">input</mdl-icon>
                </button>

            </mdl-layout-header-row>
    </mdl-layout-header>
    <mdl-layout-drawer>
        <mdl-layout-header >
            <mdl-layout-header-row class ="header-panel-color">
                  <mdl-layout-title class ="color-scheme--white-c">Dashboard</mdl-layout-title>
            </mdl-layout-header-row>
            </mdl-layout-header>
        <nav class="mdl-navigation">
            <a class="mdl-navigation__link  color-scheme--grey" mdl-shadow="6"  [routerLink]="['/courses']" align="center"><h6>All Courses</h6> </a>
            <br>
            <a class="mdl-navigation__link "  mdl-shadow="6" [routerLink]="['/courses/my']" align="center"><h6>My courses</h6></a>
            <br>
            <a *ngIf="_userService.user && _userService.user.role === 'teacher'" class="mdl-navigation__link"  mdl-shadow="6" [routerLink]="['/course/add']"  align="center"><h6>Add Course</h6></a>
        </nav>
    </mdl-layout-drawer>
    <mdl-layout-content class ="color-scheme--grey">

        <div align="center">
            <ul *ngIf="pager.pages && pager.pages.length && courses_m && courses_m.length" class="pagination">
                <li [ngClass]="{disabled:pager.currentPage === 1}">
                    <a (click)="setPage(1)">First</a>
                </li>
                <li [ngClass]="{disabled:pager.currentPage === 1}">
                    <a (click)="setPage(pager.currentPage - 1)">Previous</a>
                </li>
                <li *ngFor="let page of pager.pages"  [ngClass]="{active:pager.currentPage === page}">
                    <a (click)="setPage(page)">{{page}}</a>
                </li>
                <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                    <a (click)="setPage(pager.currentPage + 1)">Next</a>
                </li>
                <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                    <a (click)="setPage(pager.totalPages)">Last</a>
                </li>
            </ul>
        </div>

       <div  *ngIf="(courses | courseFilter: findBy) && (courses | courseFilter : findBy).length">
        <div class="mdl-grid" align = "center" >
            <div class="mdl-cell mdl-cell--3-col" *ngFor="let course of pagedItems ">


                <mdl-card  mdl-shadow="6" style ="width : 220px; height: 280px; " >
                    <mdl-card-title mdl-card-expand class="color-scheme--white" >
                        <h6 mdl-card-title-text> {{course.name}}</h6>
                    </mdl-card-title>

                    <div class="color-scheme--white">
                        <img [src] ='course.course_logo' height="150" width="150" class="color-scheme--white">
                    </div>
                    <mdl-card-actions mdl-card-border>
                        <button mdl-button mdl-button-type="icon"  [routerLink]="['/course', course._id]">
                            <mdl-icon mdl-tooltip="View">description</mdl-icon>
                        </button>
                        <button mdl-button mdl-button-type="icon" *ngIf = "_userService.user && _userService.user.role !== 'teacher'"(click)="onSubscribe(course._id)">
                            <mdl-icon mdl-tooltip="Subscribe" >add</mdl-icon>
                        </button>
                    </mdl-card-actions>
                </mdl-card>
            </div>

        </div>
            </div>


        <!-- pager -->


    </mdl-layout-content>
</mdl-layout>