
<mdl-layout mdl-layout-fixed-header mdl-layout-fixed-drawer >
    <mdl-layout-header mdl-shadow="6">
        <mdl-layout-header-row class ="header-panel-color">
            <mdl-layout-spacer></mdl-layout-spacer>
            <nav class="mdl-navigation">
                <a class="mdl-navigation__link" [routerLink]="['/settings']" align="center" mdl-ripple>Settings</a>
                <a class="mdl-navigation__link"   (click)="onLogOut()" align="center"> Log out</a>
            </nav>
        </mdl-layout-header-row>
    </mdl-layout-header>
    <mdl-layout-drawer>
        <mdl-layout-header>
            <mdl-layout-header-row class ="header-panel-color">
                <mdl-layout-title class ="color-scheme--white-c">Dashboard</mdl-layout-title>
            </mdl-layout-header-row>
        </mdl-layout-header>
        <nav class="mdl-navigation">
            <a class="mdl-navigation__link  color-scheme--white" mdl-shadow="6"  [routerLink]="['/courses']" align="center"><h6>All Courses</h6> </a>
            <br>
            <a class="mdl-navigation__link color-scheme--white"  mdl-shadow="6" [routerLink]="['/courses/my']" align="center"><h6>My courses</h6></a>
            <br>
            <a *ngIf="_userService.user && _userService.user.role === 'teacher'" class="mdl-navigation__link color-scheme--white"  mdl-shadow="6"  align="center"><h6>Add Course</h6></a>
        </nav>
    </mdl-layout-drawer>
    <mdl-layout-content class ="color-scheme--grey">
        <div class ="course-desc-style" *ngIf ="course && course.name && course.year">
        <mdl-card mdl-shadow="6" style="width: 850px; min-height: 280px">
            <div align ="center"><h5>{{course.name + ' (' + course.year + ')'}}</h5></div>

            <div  style="float:left; display:inline-block; ">
                <span style="float:left;width: 70%; position: absolute; left: 20px;">
                    <p style="float:left; display:block;">
                        {{course.description}}
                    </p>
                </span>
                <span style="float:right;width: 30%;">
                    <img [src] ='course.course_logo' height="180" width="180" class="color-scheme--white" style ="position: absolute; right: 20px;">
                </span>
            </div>
            </mdl-card>
            </div>

            <div class="mdl-grid" align = "center" style="position: absolute; top: 320px;" >
                <div class="mdl-cell mdl-cell--6-col" *ngFor="let lab of course.labs ">


                    <mdl-card  mdl-shadow="6" style ="width : 220px; height: 280px; " >

                        <div align="center" style="position : absolute; top: 20px; left: 15px; right: 15px;">Лабораторна робота, з теми:</div>
                        <div align="center" style="position : absolute; top: 65px; left: 15px; right: 15px;">{{lab.theme}}</div>

                        <mdl-card-actions >
                            <button mdl-button mdl-colored mdl-ripple *ngIf = "_userService.user && _userService.user.role !== 'teacher'"(click)="onSubscribe(course._id)">
                                Subscribe
                            </button>
                        </mdl-card-actions>

                    </mdl-card>
                </div>

            </div>
        <dialog-outlet></dialog-outlet>


    </mdl-layout-content>
</mdl-layout>