<mdl-layout mdl-layout-fixed-header mdl-layout-fixed-drawer>
    <mdl-layout-header>
        <mdl-layout-header-row class ="header-panel-color">
            <mdl-layout-spacer></mdl-layout-spacer>
            <nav class="mdl-navigation">
                <a class="mdl-navigation__link" [routerLink]="['/settings']" align="center" mdl-ripple>Settings</a>
                <a class="mdl-navigation__link"   (click)="onLogOut()" align="center"> Log out</a>
            </nav>
        </mdl-layout-header-row>
    </mdl-layout-header>
    <mdl-layout-drawer>
        <mdl-layout-header >
            <mdl-layout-header-row class ="header-panel-color">
                <mdl-layout-title class ="color-scheme--white-c">Settings</mdl-layout-title>
            </mdl-layout-header-row>
        </mdl-layout-header>
        <nav class="mdl-navigation">
            <a class="mdl-navigation__link " [routerLink]="['/settings']">Basic information</a>
            <a class="mdl-navigation__link color-scheme--grey" [routerLink]="['/settings/password']" >Change password</a>
            <a class="mdl-navigation__link" >Delete account</a>
        </nav>
    </mdl-layout-drawer>
    <mdl-layout-content class ="color-scheme--grey">
        <div class="settings-style-pass">
            <mdl-card mdl-shadow="2" style="width: 700px; height: 400px">
                <mdl-card-title mdl-card-expand>
                    <h2 mdl-card-title-text>Change Password</h2>
                </mdl-card-title>
                <div style="position: relative; left: 30px">We need your current password to confirm changes: </div>
                <div align="center">
                    <mdl-textfield type="password" required label="Current Password" [(ngModel)]="currentPassword" floating-label></mdl-textfield>
                </div>
                <div style="position: relative; left: 30px">Enter your new password: </div>
                <div align="center">
                    <mdl-textfield type="password" required label="New Password" [(ngModel)]="newPassword" floating-label></mdl-textfield>
                </div>
                <div style="position: relative; left: 30px">Confirm your new password: </div>
                <div align="center">
                    <mdl-textfield type="password" required label="Confirm Password" [(ngModel)]="confirmedPasswordPassword" floating-label></mdl-textfield>
                </div>
                <br>
                <mdl-card-actions mdl-card-border align ="center">
                    <button mdl-button mdl-colored="accent" mdl-button-type="raised" [disabled]="isDisable1()" (click)="onUpdate()" mdl-ripple>
                        Change password
                    </button>
                </mdl-card-actions>


            </mdl-card>
        </div>


    </mdl-layout-content>
</mdl-layout>