<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<form action="/api/user/course/lab" method="POST">
    <input name="id" type = "text" placeholder="id">
    <br>
    <input name="number" type = "text" placeholder="number">
    <br>
    <input name="theme" type = "text" placeholder="theme">
    <br>
    <textarea name="aim" type = "text" placeholder="aim"></textarea>
    <br>
    <textarea name="task_description" type = "text" placeholder="Description"></textarea>
    <br>
    <input type="submit" value="SUBMIT">
</form>
</body>
</html>