<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
</head>
<body>
<input name="old_password" id="old_password" type = "text" placeholder="old password">
<br>
<input name="new_password" id="new_password" type = "text" placeholder="new password">
<br>
<input name="confirm_password" id="confirm_password" type = "text" placeholder="confirm password">
<br>
<button id="btn">Submit</button>
<script>

    $( "#btn" ).click(function() {
        $.ajax({
            url: '/api/user/password?' + $.param({'old_password': $("#old_password").val(),'new_password': $("#new_password").val(),
                'confirm_password': $("#confirm_password").val()}),
            type: 'PUT',
            success: function(result) {
                // Do something with the result
            }
        });
    });
</script>
</body>
</html>