<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<form action="/api/user/course" method="POST">
    <input name="name" type = "text" placeholder="name">
    <br>
    <input name="year" type = "text" placeholder="year">
    <br>
    <input type="submit" value="SUBMIT">
</form>
</body>
</html>