<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<form action="/api/user/course/lab" method="POST">
    Course id:
    <input name="course_id" type = "text" placeholder="name">
    <br>
    Lab id:
    <input name="lab_id" type = "text" placeholder="name">
    <br>
    <input type="submit" value="SUBMIT">
</form>
</body>
</html>