<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<form action="/api/auth/logOut" method="GET">
    <input type="submit" value="Log Out">
</form>
</body>
</html>