.color-scheme--grey {
    background-color: #e9eaea;
    color: #3e3e40;
}

.header-panel-color  {
    background-color: #337ab7 ;
    color: #152B39;
}

.color-scheme--n {
    background-color: #c6ddea;
    color: #3e3e40;
}

.color-scheme--white {
    background-color: #FFF ! important;
    color: #152B39;
}

.color-scheme--white-c {

    color: #FFF;
}


.login-form {

    position:absolute;
    top:15px;
    right: 10px;
}

.layout-background {
    background-image: url("../../pictures/background2.jpg");
}

.settings-style {
    position : absolute;
    width    : 100px;
    height   : 100px;
    left     : 50%;
    top      : 50%;
    margin-left : -350px; /* half of the width  */
    margin-top  : -175px; /* half of the height */
}

.settings-style-pass{
    position : absolute;
    width    : 100px;
    height   : 100px;
    left     : 50%;
    top      : 50%;
    margin-left : -350px; /* half of the width  */
    margin-top  : -200px; /* half of the height */
}

.add-course-style {
    position : absolute;
    width    : 100px;
    height   : 100px;
    left     : 50%;
    top      : 50%;
    margin-left : -400px; /* half of the width  */
    margin-top  : -200px; /* half of the height */
}


.settings-card-style {
    height: 400px;
    width: 1000px;
}

.course-desc-style {
    position : absolute;
    width    : 100px;
    height   : 100px;
    left     : 50%;
    top      : 50%;
    margin-left : -425px; /* half of the width  */
    margin-top  : -250px; /* half of the height */
}



.mdl-button--file input {
    cursor: pointer;
    height: 100%;
    right: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 300px;
    z-index: 4;
}
.mdl-textfield--file .mdl-textfield__input {
    box-sizing: border-box;
    width: calc(100% - 32px);
}
.mdl-textfield--file .mdl-button--file {
    right: 0;
}